<aside id="chat">
	<div id="chat_banner">Chat</div>
	<div id="chat_rooms">
		<button id="create_room">Create</button>
	</div>
	<div id="chat_body_container">
		<input type="text" placeholder="Write here">
		<div id="chat_body">
		</div>
	</div>
	<form id="room_form">
		<label for="room_name">
			Room name
			<input type="text" id="room_name" autocomplete="off">
		</label>
		<label for="public_choice">
			<input type="radio" id="public_choice" name="room_type" value="public" checked>
			Public
		</label>
		<label for="private_choice">
			<input type="radio" id="private_choice" name="room_type" value="private">
			Private
		</label>
		<label for="password_protected_choice">
			<input type="radio" id="password_protected_choice" name="room_type" value="password_protected">
			Password protected
		</label>
		<input type="password" id="room_password" autocomplete="off">
		<div>
			<button type="submit">Create</button>
			<button type="button" id="cancel_room_creation">Cancel</button>
		</div>
	</form>
</aside>