<div id="friends_banner">
	Friends
	<div class="plus">+</div>
	<div id="add_friend">
		<input type="text">
	</div>
</div>
<aside id="friends">
	<ul id="friends_menu">
		<li>Send pm</li>
		<li>Challenge</li>
		<li id="remove_friend">Remove friend</li>
	</ul>
</aside>