<!DOCTYPE html>
<html>
	<head>
		<title>Transcendence</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

	<body>
		<main_nav id="login">
			<div class="wrapper">
			<div class="header-wrap">
				<h1>Welcome to Transcendence</h1>
			</div>
			</div>

			<div style="display: inline-block; width: 1em; height: 24em;"></div>

			<a href="/users/auth/marvin" class='retro-btn' label="Login">Login</a>
		</main>
	</body>
</html>
