<header id="mainNav">
	<ul>
		<a href="#homepage"><li>Homepage</li></a>
		<a href=""><li>Game</li></a>
		<a href="#competition"><li>Competition</li></a>
		<a href="#guilds"><li id="guilds">Guilds</li></a>
		<a href="#admin"><li>Admin</li></a>
		<a href="#sign-in">
			<li>
				<%= link_to "Sign in with 42", user_marvin_omniauth_authorize_path unless current_user %>
				<%= link_to "Sign out", destroy_user_session_path, method: :delete if current_user %>
				Session = <%= @session.inspect %>
			</li>
		</a>
	</ul>
</header>

<main></main>

<footer></footer>
