/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 * {
    --bg-color: black;
    --second-bg-color: black;
    --element-color: darkgreen;
    --ball-color: lightgreen;
    --border-color: darkgreen;
    --paddle-color: darkgreen;
    --text-color: lightgreen;
    --left-color: red;
    --right-color: rgb(240, 230, 20);
}

@font-face {
    font-family: 'screen';
    src: url('ScreenMatrix.ttf');
}

p {
    margin: 0;
}

html, body {
    height: 99%;
    margin: 0;
}

main {
    height: 100%;
    font-size: 1rem;
    font-family: 'screen';
    background-color: var(--bg-color);
    color: white;
}