/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
	--bg-color: black;
	--second-bg-color: black;
	--element-color: darkgreen;
	--ball-color: lightgreen;
	--border-color: darkgreen;
	--paddle-color: darkgreen;
	--text-color: lightgreen;
	--left-color: red;
	--right-color: rgb(240, 230, 20);
}

@font-face {
	font-family: 'screen';
	src: url('ScreenMatrix.ttf');
}

p {
	margin: 0;
}

html {
	height: 99%;
	font-size: 1rem;
}

html, body {
	margin: 0;
}

body {
	height: 100%;
	background-color: var(--bg-color);
	color: white;
}

main {
	height: 100%;
	font-family: 'screen';
	color: white;
	margin: 0;
}

main a {
	color: white;
}

#game, #game_container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#game_area, #player_infos_container {
	background-color: var(--second-bg-color);
}

#player_infos_container {
	box-sizing: border-box;
	height: 10%;
	width: 100%;
	margin-bottom: 1%;
	display: flex;
	justify-content: space-between;
	color: var(--text-color);
	font-size: 4vmin;
}

.player_infos {
	flex: 0.49;
	text-align: center;
	border: 1vw ridge var(--element-color);
	border-style: ridge groove groove ridge;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.player_infos img {
	height: 100%;
}

#player_infos_left {
	color: var(--left-color);
}

#player_infos_right {
	color: var(--right-color);
}

#game_area {
	box-sizing: border-box;
	height: 75%;
	width: 100%;
	border: 1vw solid var(--border-color);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

#ball_container {
	height: 6%;
	width: 6%;
	position: absolute;
	top: 50%;
	left: 50%;
	display: none;
}

#ball {
	background-color: var(--ball-color);
	height: 100%;
	width: 100%;
	border: 1px black solid;
	border-radius: 100%;
	position: relative;
	bottom: 50%;
	right: 50%;
}

.paddle_container {
	height: 25%;
	width: 2%;
	position: absolute;
	top: 50%;
}

#paddle_left_container {
	left: 1%;
}

#paddle_right_container {
	right: 1%;
}

.paddle {
	background-color: var(--paddle-color);
	position: relative;
	height: 100%;
	width: 100%;
	bottom: 50%;
}

#game #timer {
	color: green;
	text-align: center;
	font-size: 15em;
	line-height: 100%;
}

#lobby #timer {
	font-size: 15em;
	display: none;
}

@media (max-width: 800px) {
	.player_infos img {
		display: none;
	}
}