// Place all the styles related to the Guilds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$verydarkgreen: rgb(0, 70, 0);

main form label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 10px;
  padding: 5px 32px;
  font-size: 25px;
}
main form .error {
  color: rgb(175, 0, 0);
}
.bandeau {
  color: rgb(175, 157, 0);
  justify-content: space-between;
  align-items: center;
  margin: 5px 10px;
  padding: 5px 32px;
  font-size: 25px;
}
input {
  font-family: 'screen';
  border: none;
  margin: 25px 10px;
  padding: 15px 32px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 16px;
  box-sizing: border-box;
  width: calc(100% - 20px);
}
.button {
  background-color: $verydarkgreen;
  border: none;
  margin: 25px 10px;
  color: white;
  padding: 15px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}
.Destroy, .Leave {
  background-color: red;
}
.back, .Cancel {
  background-color: darkgrey;
  border: 1px solid darkgrey;
}
@keyframes pixelate {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: 100%;
  }
}
.button:hover, .myGuildRow:hover, .guildRow:hover {
  transition-delay: 0.6s;
  background-size: 180px;
  animation: pixelate 0.5s steps(8) forwards;
}
.button:hover {
  background: green url(pixel_green.svg);
}
.Destroy, .Leave {
  &:hover {
    background: lightcoral url(pixel_lightcoral.svg);
  }
}
.back, .Cancel {
  &:hover {
    background: black url(pixel_black.svg);
    border: 1px solid darkgrey;
  }
}
.cursorButton {
  cursor: pointer;
}
.guildRow, .myGuildRow, .guildFigures, .guildInvitesRow, .guildMemberRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 10px;
  padding: 5px 32px;
  font-size: 25px;
  text-align: center;
  border-width: 1px;
}
.kickButton {
  padding: 0 25px;
}
.guildRow:nth-child(odd)/*, .guildInvitesRow:nth-child(odd), .guildMemberRow:nth-child(odd)*/ {
  background-color: darkgrey;
}
.guildRow:nth-child(odd) {
  /* Animation on hover guild row */
  background-color: darkgrey;
}
.myGuildRow {
  border-style: solid;
}
.guildRow, .guildInvitesRow, .guildMemberRow {
  border-left: solid;
  border-right: solid;
  &:first-child {
    border-top: solid;
  }
  &:last-child {
    border-bottom: solid;
  }
}
#inviteButtons {
  display: flex;
  justify-content:space-around;
  align-items: center;
}
// .guildRow:first-child, .guildInvitesRow:first-child, .guildMemberRow:first-child {
//   border-top: solid;
// }
// .guildRow:last-child, .guildInvitesRow:last-child, .guildMemberRow:last-child {
  // border-bottom: solid;
// }
.myGuildRow:hover, .guildRow:nth-child(even):hover {
  background: darkgrey url(pixel_darkgrey.svg);
}
.guildRow:nth-child(odd):hover {
  background: black url(pixel_black.svg);
}
.uppercase {
  text-transform: uppercase;
}

/* For Mobile */
@media screen and (max-width: 1080px) {
  main form label {
    flex-direction: column;
    justify-content: center;
  }
  .guildFigures {
    flex-wrap: wrap;
    & div:first-child {
      width: 100%
    }
  }
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
  .guildFigures div:not(:first-child) {
    flex: 1 0 50%;
  }
}

/* For Very thin screens */
@media screen and (min-width: 0px) and (max-width: 540px) {
  .guildFigures div:not(:first-child) {
    flex:1 0 25%;
  }
}
