// Place all the styles related to the Guilds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$verydarkgreen: rgb(0, 70, 0);


// header {
//   background-color: rgb(2, 47, 114);
//   position: fixed;
//   width: 100%;
//   top: 0;
//   z-index: 300;
//   height: 40px;
//   display: grid;
//   grid-template-columns: 40px, 1fr, 40px;
// }
// /* li {
// 	  color: royalblue;
// 	  font-size: 30px;
// 	  text-shadow: 2px 2px 1px slategray;
// 	  list-style-type: none;
//   } */
// #mainNav {
//   position: absolute;
//   top: 0px;
//   padding-bottom: 10px;
// }
// #mainNav a {
//   color: rgb(214, 214, 214);
//   text-decoration: none;
//   font-variant: small-caps;
//   font-size: 1.3em;
// }
// #mainNav ul {
//   list-style: none;
//   padding: 0;
//   margin: 0;
//   display: flex;
//   grid-gap: 10px;
// }
// #mainNav a:hover {
//   text-decoration: underline;
// }

// main {
//   margin-top: 50px;
// }
main form label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 10px;
  padding: 5px 32px;
  font-size: 25px;
}
main form .error {
  color: rgb(175, 0, 0);
}
.bandeau {
  color: rgb(175, 157, 0);
  justify-content: space-between;
  align-items: center;
  margin: 5px 10px;
  padding: 5px 32px;
  font-size: 25px;
}
input {
  font-family: 'screen';
  border: none;
  margin: 25px 10px;
  padding: 15px 32px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 16px;
  box-sizing: border-box;
  width: calc(100% - 20px);
}
.button {
  background-color: $verydarkgreen;
  border: none;
  margin: 25px 10px;
  color: white;
  padding: 15px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}
@keyframes pixelate {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: 100%;
  }
}
.button:hover {
  // background-color: green;
  background: green url(pixel_green.svg);
  transition-delay: 0.6s;
  background-size: 180px;
  animation: pixelate 0.5s steps(8) forwards;
}
.cursorButton {
  cursor: pointer;
}
.guildRow, .myGuildRow, .guildFigures, .guildInviteRow, .guildMemberRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 10px;
  padding: 5px 32px;
  font-size: 25px;
  text-align: center;
  border-width: 1px;
}
.guildRow:nth-child(odd)/*, .guildInviteRow:nth-child(odd), .guildMemberRow:nth-child(odd)*/ {
  background-color: darkgrey;
}
.guildRow:nth-child(odd) {
  /* Animation on hover guild row */
  background-color: darkgrey;
}
.myGuildRow {
  border-style: solid;
}
.guildRow, .guildInviteRow, .guildMemberRow {
  border-left: solid;
  border-right: solid;
}
.guildRow:first-child, .guildInviteRow:first-child, .guildMemberRow:first-child {
  border-top: solid;
}
.guildRow:last-child, .guildInviteRow:last-child, .guildMemberRow:last-child {
  border-bottom: solid;
}
.myGuildRow:hover, .guildRow:nth-child(even) {
  background: darkgrey url(pixel_darkgrey.svg);
  transition-delay: 0.6s;
  background-size: 180px;
  animation: pixelate 0.5s steps(8) forwards;
}
.guildRow:nth-child(odd) {
  background: black url(pixel_black.svg);
  transition-delay: 0.6s;
  background-size: 180px;
  animation: pixelate 0.5s steps(8) forwards;
}
.uppercase {
  text-transform: uppercase;
}

/* For Mobile */
@media screen and (max-width: 1080px) {
  main form label {
    flex-direction: column;
    justify-content: center;
  }
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {

}
