// Place all the styles related to the Guilds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "variables";

/* ------------------ A SUPPRIMER CSS POUR LES /GUILDS /INVITES /USERS --------------------------- */
/* -- */ html body {
/* -- */   & > table {
/* -- */     margin-top: 80px;
/* -- */   }
/* -- */   & > form {
/* -- */     margin-top: 80px;
/* -- */   }
/* -- */ }
/* ----------------------------------------------------------------------- */

#guildsAll, #guildNew, #guildPage, #ranksAll, #rankPage {
  overflow: auto;

  #guildNavbar {
    display: flex;
    align-items: center;
    justify-content: start;
  }
  form label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 10px;
    padding: 5px 32px;
    font-size: 25px;
  }
  form .error {
    color: rgb(175, 0, 0);
  }
  #errorPopUp {
    display: none;
    position: absolute;
    top: 50px;
    margin: 25px 10px;
    padding: 15px 32px;
    border: 2px solid red;
    border-radius: 3px;
    left: 50%;
    background-color: indianred;
    justify-content: center;
  }
  .bandeau {
    color: rgb(175, 157, 0);
    justify-content: space-between;
    align-items: center;
    margin: 5px 10px;
    padding: 5px 32px;
    font-size: 25px;
  }
  input {
    font-family: 'screen';
    border: none;
    margin: 25px 10px;
    padding: 15px 32px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
    box-sizing: border-box;
    width: calc(100% - 20px);
  }
  .Loss {
    color: red;
  }
  .button {
    background-color: $verydarkgreen;
    border: 2px solid rgba(0, 128, 0, 0.75);
    border-radius: 3px;
    margin: 25px 10px;
    color: white;
    padding: 15px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
  }
  .Destroy, .Leave {
    background-color: red;
    border: 1px solid red;
  }
  .back, .Cancel {
    background-color: darkgrey;
    border: 1px solid darkgrey;
  }

  @keyframes pixelate {
    0% {
      background-position-y: 0;
    }
    100% {
      background-position-y: 100%;
    }
  }
  #PassOwnershipButton {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
  }
  #mainGuildMembersList {
    position: fixed;
    margin-top: 35px;
    margin-left: -34px;
    z-index: 300;
    & .Ownership {
      // display: inline;
      width: 250px;
      min-width: 0;
      margin: auto;
      justify-content: start;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .button, .myGuildRow, .guildRow, .Destroy, .Leave, .back, .Cancel {
    &:hover {
    transition-delay: 0.3s;
    animation: pixelate 0.2s steps(8) forwards;
    }
  }
  .button:hover {
    background: green url(pixel_green.svg);
      background-size: auto 460px;
  }
  .Destroy, .Leave {
    &:hover {
      background: lightcoral url(pixel_lightcoral.svg);
      background-size: auto 460px;
  }
  }
  .back, .Cancel {
    &:hover {
      background: black url(pixel_black.svg);
      background-size: auto 460px;
      border: 1px solid darkgrey;
    }
  }
  .cursorButton {
    cursor: pointer;
  }
  .validation:hover {
    filter:brightness(120%);
  }
  .kickButton {
    padding: 0 25px;
  }
  .guildRow, .myGuildRow, .userRow, .myUserRow, .guildFigures, .guildInvitesRow, .guildMemberRow, .userMatchRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    padding: 5px 32px;
    height: 120px;
    font-size: 25px;
    text-align: center;

  }
  .userMatchRow {
    & div {
      width: 200px;
    }
    & div:first-child {
      width: 400px;
    }
    & div:last-child {
      width: 400px;
    }
  }
  .guildMemberRow {
    & div {
      width: 200px;
    }
    & div:first-child {
      width: 400px;
    }
  }
  .guildRow, .myGuildRow {
    & div {
      width: 400px;
    }
    & div:first-child {
      width: 200px;
    }
    & div:last-child {
      width: 200px;
    }
  }
  .myUserRow, .userRow {
    & div {
      width: 400px;
    }
    & div:first-child {
      width: 200px;
    }
    & div:last-child {
      width: 200px;
    }
  }
  .guildFigures {
    background-color: rgba(0, 128, 0, 0.815);
    & div {
      & p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    & > div:first-child {
      min-width: 200px;
    }
    & > div:nth-child(2) {
      min-width: 100px;
    }
    & > div:nth-child(3) {
      min-width: 200px;
    }
    & > div:last-child {
      & p {
        white-space: normal;
      }
      width: 220px;
      min-width: 100px;
    }
  }
  .myGuildRow, .guildInvitesRow, .myUserRow {
    border: 2px solid rgba(0, 128, 0, 0.75);
    border-style: solid;
    margin: 20px 10px;
  }
  .guildRow, .guildMemberRow, .userRow, .userMatchRow {
    &:nth-of-type(odd) {
      background-color: $verydarkgreen;
    }
    &:nth-of-type(even) {
      background-color: green;
    }
  }
  .guildRow, .guildMemberRow, .userRow, .userMatchRow {
    border-left: 2px solid rgba(0, 128, 0, 0.75);
    border-right: 2px solid rgba(0, 128, 0, 0.75);
    &:first-of-type {
      border-top: 2px solid rgba(0, 128, 0, 0.75);
    }
    &:last-of-type {
      border-bottom: 2px solid rgba(0, 128, 0, 0.75);
    }
  }
  .rankTrophy {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    & img, div {
      position: absolute;
    }
  }
  #inviteButtons {
    display: flex;
    justify-content:space-around;
    align-items: center;
  }
  .myGuildRow:hover, .guildRow:nth-of-type(even):hover {
    background: $verydarkgreen url(pixel_darkgreen.svg);
    background-size: auto 640px;
  }
  .guildRow:nth-of-type(odd):hover {
    background: green url(pixel_green.svg);
    background-size: auto 640px;
  }
  .uppercase {
    text-transform: uppercase;
  }
}

/* For Mobile */
@media screen and (max-width: 1080px) {
  #guild {
    form label {
      flex-direction: column;
      justify-content: center;
    }
    .guildFigures {
      flex-wrap: wrap;
      & div:first-child {
        width: 100%
      }
    }
  }
}
/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
  main.guilds {
    .guildFigures div:not(:first-child) {
      flex: 1 0 50%;
    }
  }
}

/* For Very thin screens */
@media screen and (min-width: 0px) and (max-width: 540px) {
  main.guilds {
    .guildFigures div:not(:first-child) {
      flex:1 0 25%;
    }
  }
}
