$verydarkgreen: rgb(0, 70, 0);
$veryverydarkgreen: rgb(0, 50, 0);
$border-color: green;
$border-width: calc(min(1vh, 0.75vw));
$link-border-width: calc(min(1vh, 0.75vw) * 0.5);
$bg-color: $verydarkgreen;
$nav-height: calc(min(10vh, 7.5vw));
$nav-font-size: calc(min(5.5vh, 4.125vw));
$nav-link-padding: calc(min(1vh, 0.75vw));
$account-menu-font-size: calc(min(2vh, 1.5vw));
$friends-button-padding: calc(min(1vh, 0.75vw) * 2);
$friends-font-size: calc(min(3vh, 2vw));
$friends-top-position: calc(min(10vh, 7.5vw) - 1vh);
$pellet-size: calc(min(1.5vh, 1vw));
$friends-height: 65vh;
$tchat-height: calc(100vh - min(10vh, 7.5vw) - 64vh);

nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 80%;
	height: $nav-height;
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	background-color: $bg-color;
	border-width: $border-width;
	border-color: $border-color;
	border-style: ridge groove groove ridge;
	z-index: 2;

	a {
		text-decoration: none;
	}

	& > a,
	#account_div {
		display: block;
		margin: 0 1%;
		padding: 0 1%;
		padding-top: $nav-link-padding;
		text-transform: uppercase;
		font-size: $nav-font-size;
	}

	& > a {
		border: $link-border-width transparent solid;
		&.selected {
			border-color: green;
			background-color: black;
		}
		&:not(.selected):hover {
			border-color: rgba(0, 128, 0, 0.75);
			background-color: rgba(0, 0, 0, 0.75);
		}
	}

	#account_div {
		margin-left: auto;

		#account_button {
			position: relative;
			max-width: 10ch;
			font-size: $nav-font-size;
			display: flex;
			justify-content: center;

			&:hover {
				cursor: pointer;
			}

			#account_menu {
				position: absolute;
				top: 100%;
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				align-items: flex-end;
				font-size: $account-menu-font-size;
				border-width: $border-width;
				border-color: $border-color;
				border-style: none groove groove ridge;
				background-color: $verydarkgreen;
				display: none;

				div.option {
					display: flex;

					&:hover div.ball_selector:after {
						display: block;
					}

					div.ball_selector {
						flex: 1;
						display: flex;
						justify-content: center;
						align-items: center;
						&:after {
							content: '';
							display: none;
							width: 0.5vw;
							height: 0.5vw;
							background-color: white;
						}
					}

					a {
						flex: 9;
						position: relative;
						display: block;
						padding: 2% 0;
						text-transform: none;
						text-align: right;
					}
				}
			}
		}
	}
}

%friends {
	position: fixed;
	right: 0;
	width: 15vw;
	background-color: $bg-color;
	border-width: $border-width;
	border-color: $border-color;
}
#friends_button {
	@extend %friends;
	font-size: 2.5vw;
	top: 0;
	height: $nav-height;
	border-style: ridge groove none ridge;
	padding: $friends-button-padding 0;
	line-height: 100%;
	text-transform: uppercase;
	z-index: 3;
	&:hover {
		cursor: pointer;
	}
}
#friends {
	@extend %friends;
	top: $friends-top-position;
	padding-top: 1vh;
	height: $friends-height;
	z-index: 2;
	border-style: none groove groove ridge;
	background-color: $bg-color;
	font-size: $friends-font-size;
	text-align: center;
	overflow: auto;
	&::-webkit-scrollbar {
		width: 0;
	}

	p {
		text-align: left;
		display: flex;
		align-items: center;

		&:hover {
			background-color: $veryverydarkgreen;
		}

		span {
			display: inline-block;

			&:first-child {
				width: $pellet-size;
				height: $pellet-size;
				border-radius: 100%;
				margin-right: $pellet-size;
				background-color: red;
			}
			&.online {
				background-color: lightgreen;
			}
			&.ingame {
				background-color: white;
			}

			&:last-child {
				flex: 1;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				&:hover {
					cursor: pointer;
				}
			}
		}
	}
}

#tchat {
	position: fixed;
	right: 0;
	bottom: 0;
	width: 25vw;
	height: $tchat-height;
	z-index: 3;
	border-width: $border-width;
	border-color: $border-color;
	border-style: ridge groove groove ridge;
	background-color: $verydarkgreen;
	display: flex;
	transition: height 0.4s, width 0.4s;

	&.folded {
		height: 25px;
		width: 25px;
		border-width: 3px;
		#chans #arrow_div #arrow {
			border-width: 20px 20px 0 0;
		}
	}

	#chans {
		flex: 1;
		border-right: 1px $veryverydarkgreen solid;
		overflow: auto;
		&::-webkit-scrollbar {
			width: 0;
		}

		#arrow_div {
			width: 25px;
			height: 25px;
			margin-bottom: 5px;
			#arrow {
				position: absolute;
				border-color: white transparent white transparent;
				border-style: solid;
				border-width: 0 0 20px 20px;
				transition: none;
				&:hover {
					cursor: pointer;
				}
			}
		}

		p {
			margin: 3px;
			&:hover {
				cursor: pointer;
				background-color: $veryverydarkgreen;
			}
		}
	}
	#tchat_body {
		flex: 2;
		overflow: auto;
		padding: 5px;
		&::-webkit-scrollbar {
			width: 0;
		}

		p {
			font-family: sans-serif;
			margin-bottom: 10px;
			&.mine {
				text-align: right;
			}

			span:first-child {
				display: block;
				font-family: 'screen';
			}
		}
	}
}