$verydarkgreen: rgb(0, 70, 0);
$veryverydarkgreen: rgb(0, 50, 0);
$border-color: green;
$border-width: calc(min(1vh, 0.75vw));
$link-border-width: calc(min(1vh, 0.75vw) * 0.5);
$bg-color: $verydarkgreen;
$nav-height: calc(min(10vh, 7.5vw));
$nav-font-size: calc(min(5.5vh, 4.125vw));
$nav-link-padding: calc(min(1vh, 0.75vw));
$account-menu-font-size: calc(min(2vh, 1.5vw));
$banners-font-size: calc(min(2vh, 1.5vw));
$banners-height: calc(min(4.5vh, 3.375vw));
$friends-top-position: $banners-height;
$friends-button-padding: calc(min(0.4vh, 0.3vw));
$friends-font-size: calc(min(2vh, 1.5vw));
$pellet-size: calc(min(1.5vh, 1vw));
$friends-height: 55vh;
$tchat-height: calc(100vh - min(10vh, 7.5vw) - 54vh);
$tchat-banner-offset: calc(-1 * min(1vh, 0.75vw));
$tchat-banner-border-width: calc(100% + 2 * min(1vh, 0.75vw));
$tchat-padding-top: calc(min(4vh, 3vw));
$messages-font-size: calc(min(1.6vh, 1.2vw));
$message-input-width: calc(25vw * 2 / 3 - min(1vh, 0.75vw) * 2);

nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 80%;
	height: $nav-height;
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	background-color: $bg-color;
	border-width: $border-width;
	border-color: $border-color;
	border-style: ridge groove groove ridge;
	z-index: 2;

	a {
		text-decoration: none;
	}

	& > a,
	#account_div {
		display: block;
		margin: 0 1%;
		padding: $nav-link-padding 1% 0 1%;
		text-transform: uppercase;
		font-size: $nav-font-size;
	}

	& > a {
		border: $link-border-width transparent solid;
		&.selected {
			border-color: green;
			background-color: black;
		}
		&:not(.selected):hover {
			border-color: rgba(0, 128, 0, 0.75);
			background-color: rgba(0, 0, 0, 0.75);
		}
	}

	#account_div {
		margin-left: auto;

		#account_button {
			position: relative;
			max-width: 10ch;
			font-size: $nav-font-size;
			display: flex;
			justify-content: center;

			&:hover {
				cursor: pointer;
			}

			#account_menu {
				position: absolute;
				top: 100%;
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				align-items: flex-end;
				font-size: $account-menu-font-size;
				border-width: $border-width;
				border-color: $border-color;
				border-style: none groove groove ridge;
				background-color: $verydarkgreen;
				display: none;

				div.option {
					display: flex;

					&:hover div.ball_selector:after {
						display: block;
					}

					div.ball_selector {
						flex: 1;
						display: flex;
						justify-content: center;
						align-items: center;
						&:after {
							content: '';
							display: none;
							width: 0.5vw;
							height: 0.5vw;
							background-color: white;
						}
					}

					a {
						flex: 9;
						position: relative;
						display: block;
						padding: 2% 0;
						text-transform: none;
						text-align: right;
					}
				}
			}
		}
	}
}

%friends {
	position: fixed;
	right: 0;
	width: 15vw;
	background-color: $bg-color;
	border-width: $border-width;
	border-color: $border-color;
}
#friends_button {
	@extend %friends;
	font-size: $banners-font-size;
	top: 0;
	height: $banners-height;
	border-style: ridge groove groove ridge;
	padding-top: $friends-button-padding;
	line-height: 100%;
	text-transform: uppercase;
	z-index: 3;
	&:hover {
		cursor: pointer;
	}
}
#friends {
	@extend %friends;
	top: $friends-top-position;
	padding-top: 1vh;
	height: $friends-height;
	z-index: 2;
	border-style: none groove groove ridge;
	background-color: $bg-color;
	font-size: $friends-font-size;
	text-align: center;
	overflow: auto;
	transition: height 0.4s, top 0.4s;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		width: 0;
	}

	&.folded {
		height: 0;
		top: 0;
	}

	p {
		text-align: left;
		display: flex;
		align-items: center;

		&:hover {
			background-color: $veryverydarkgreen;
		}

		span {
			display: inline-block;

			&:first-child {
				width: $pellet-size;
				height: $pellet-size;
				border-radius: 100%;
				margin-right: $pellet-size;
				background-color: red;
			}
			&.online {
				background-color: lightgreen;
			}
			&.ingame {
				background-color: white;
			}

			&:last-child {
				flex: 1;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				&:hover {
					cursor: pointer;
				}
			}
		}
	}
}

#tchat {
	position: fixed;
	right: 0;
	bottom: 0;
	width: 25vw;
	height: $tchat-height;
	padding-top: $tchat-padding-top;
	z-index: 3;
	border-width: $border-width;
	border-color: $border-color;
	border-style: ridge groove groove ridge;
	background-color: $verydarkgreen;
	font-size: $friends-font-size;
	display: flex;
	transition: height 0.4s, padding-top 0.4s;

	&.folded {
		height: $banners-height;
		padding-top: 0;
		#tchat_body_container {
			input {
				display: none;
			}
		}
	}

	#tchat_banner {
		position: absolute;
		top: $tchat-banner-offset;
		left: $tchat-banner-offset;
		width: $tchat-banner-border-width;
		background-color: $verydarkgreen;
		border-width: $border-width;
		border-color: $border-color;
		border-style: ridge groove groove ridge;
		text-transform: uppercase;
		text-align: center;
		font-size: $banners-font-size;
		padding: 2px 10%;
		height: $banners-height;
		&:hover {
			cursor: pointer;
		}
	}

	#chans {
		flex: 1;
		border-right: 1px $veryverydarkgreen solid;
		overflow-y: auto;
		padding: 2px;
		overflow-wrap: break-word;
		scrollbar-width: none;
		&::-webkit-scrollbar {
			width: 0;
		}

		p {
			margin: 3px;
			&:hover {
				cursor: pointer;
				background-color: $veryverydarkgreen;
			}
		}
	}
	#tchat_body_container {
		flex: 2;
		overflow-y: auto;
		padding: 5px;
		font-size: $messages-font-size;
		scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none;
		}
		#tchat_body {
			padding-bottom: 6%;
			p {
				font-family: sans-serif;
				margin-bottom: 10px;
				&.mine {
					text-align: right;
				}
	
				span:first-child {
					display: block;
					font-family: 'screen';
				}
			}
	&::-webkit-scrollbar {
		width: 0;
	}
		}
		input {
			position: absolute;
			bottom: 0;
			background-color: green;
			width: $message-input-width;
			height: 5%;
			border-radius: 3px;
			caret-color: $veryverydarkgreen;
			outline: none;
			border: none;
			color: $veryverydarkgreen;
			font-size: $messages-font-size;
			&::placeholder {
				color: darkgreen;
			}
		}
	}
}