@import "variables";
$link-width: calc(0.5 * #{$main-width});
$link-height: calc(0.2 * #{$main-height});
$link-font-size: calc(14 * #{$responsive-ratio});


main {
	height: auto;
    width: auto;
    position: relative;
    top: 5%;
}
@font-face {
	font-family: 'Press Start 2P';
	font-style: normal;
	font-weight: 400;
	src: local('Press Start 2P'), url('https://fonts.cdnfonts.com/s/15306/PressStart2P-Regular.woff') format('woff');
}


#login {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	& > a {
		width: $link-width;
		text-align: center;
		border-width: 5px;
		border-color: lightgreen;
		border-style: ridge groove groove ridge;
		background-color: $verydarkgreen;
		text-decoration: none;
		border-radius: calc(0.1 * Min(#{$link-height}, #{$link-width}));
		height: $link-height;
		line-height: calc(calc(0.2 * calc(105vh - calc(10 * #{$responsive-ratio}))));
		font-size: $link-font-size;
		text-transform: uppercase;
		transition: transform 1000ms;
		&:hover {
			cursor: pointer;
			border-width: 10px;
			line-height: calc(#{$link-height} - 20px);
		}
		&:active {
			transform: scale(0.8);
			box-shadow: 0 3px 6px;
		}
	}
	main_nav {
		height: auto;
		width: auto;
		position: relative;
		top: 5%;
	}


	#title {
		position: relative;
		margin: 70px auto 50px;
		font-size: 60px;
		font-family: 'Press Start 2P', cursive;
	}
	
	.wrapper {
	position: relative;
	display: inline-block;
	margin: 35px auto;
	}
	
	//
	// ---Retro Header---
	//
	.header-wrap {
		display: block;
		width: auto;
		height: auto;
		padding: 0;
		text-align: center;
		font-size: 1.5em;
		font-family: 'Press Start 2P', cursive;
		transform: perspective(200px) rotateX(10deg);
		letter-spacing: .1em;
		user-select: none;
		text-shadow:
			0 -1px 0 #fff,
			0 1px 0 #004d40,
			0 2px 0 #00483B,
			0 3px 0 #004639,
			0 4px 0 #004336,
			0 5px 0 #004134,
			0 6px 0 #003F32,
			0 7px 0 #003D30,
			0 8px 0 #003A2D,
			0 9px 0 #00382B,
			0 10px 0 #003528,
			0 11px 0 #003225,
			0 12px 0 #002F22,
			0 13px 0 #002B1E,
			0 14px 0 #00281C,
			0 15px 0 #001F13,
			0 22px 30px rgba(0,0,0, 0.9),
			0 22px 30px rgba(0, 0, 0, 0.9),
			0 22px 15px rgba(0, 0, 0, 0.9),
			0 11px 15px rgba(0, 0, 0, 0.9),
			0 15px 20px rgba(0, 0, 0, 0.9),
			0 15px 11px rgba(0, 0, 0, 0.9),
			0 16px 11px rgba(0, 0, 0, 0.9);
	
		transition: text-shadow .3s ease .3s,
			transform .3s ease .3s,
			letter-spacing .3s ease .3s;
	
		&:hover {
			transition: text-shadow .33s ease,
						transform .3s ease,
						letter-spacing .3s ease;
			text-shadow: 0 0 0 #004134,
						0 1px 0 #00483B,
						0 2px 0 #003528,
						0 3px 3px rgba(0, 0, 0, 0.9);
			transform: translate(0px, 15px)
						perspective(200px)
						rotateX(10deg);
			letter-spacing: .125em;
		}
	}
	.screen {
		margin-left: auto;
		margin-right: auto;
		width: $main-width / 2;
		display: flex;
		flex-direction: column;
		flex-grow: 0;
		justify-content: flex-start;
		border-width: 5px;
		border-color: green;
		border-style: ridge groove groove ridge;
		background-color: $verydarkgreen;
		text-decoration: none;
		z-index: 999;
		//height: $link-height;
	
		#boutton_show {
			margin-top: auto;
			margin-left: auto;
			margin-right: auto;
			padding-bottom: 5%;
			input {
				font-family: 'screen';
				background-color: rgba(0, 0, 0, 0);
				color: white;
			}
			button, input {
				border: 2px solid rgba(0, 128, 0, 0.75);
				border-radius: 3px;
				padding: 5px 8px;
				white-space: nowrap;
				cursor: pointer;
				font-size: 15pt;
				transition: transform 500ms;
				&:hover {
					transition-delay: 0.3s;
					animation: pixelate 0.2s steps(8) forwards;
					background: url(pixel_green.svg);
					border-color: black;
					background-color: rgba(0, 37, 0, 0.75);
					background-size: auto 460px;
				}
				&:active {
					transition-delay: 0.0s;
					transform: scale(0.6);
					box-shadow: rgba(0.8, 0, 0, 0) 3px 6px;
				}
			}
		}
	}

}
