@import "variables";
$link-width: calc(0.5 * #{$main-width});
$link-height: calc(0.4 * #{$main-height});
$link-font-size: calc(16 * #{$responsive-ratio});
$link-border-width: calc(1 * #{$responsive-ratio});
$link-hover-border-width: calc(2 * #{$link-border-width});

#selectMode {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	& > a {
		width: $link-width;
		text-align: center;
		border-width: $link-border-width;
		border-color: lightgreen;
		border-style: ridge groove groove ridge;
		background-color: $veryverydarkgreen;
		text-decoration: none;
		border-radius: calc(0.1 * Min(#{$link-height}, #{$link-width}));
		height: $link-height;
		line-height: calc(#{$link-height} - calc(2 * #{$link-border-width}));
		font-size: $link-font-size;
		text-transform: uppercase;
		&:hover {
			border-width: $link-hover-border-width;
			line-height: calc(#{$link-height} - calc(2 * #{$link-hover-border-width}));
			animation: pixelate 0.2s steps(8) forwards;
			background: $verydarkgreen url(pixel_darkgreen.svg);
			background-size: auto 800px;
			transition-delay: 0.2s;
		}
		@keyframes pixelate {
			0% { background-position-y: 0; }
			100% { background-position-y: 100%; }
		}
	}
}