@import "variables";

@font-face{
	font-family : "handwriting";
	src: url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap')
  }

$link-width: calc(0.5 * #{$main-width});
$link-height: calc(0.4 * #{$main-height});
$border-color: green;
$border-width: $responsive-ratio;
$link-border-width: calc(0.5 * #{$border-width});

#avatar_profile {
	border: 4px solid green
}

.loading{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.561);
}

.lds-ripple {
	position: fixed;
	margin-left:  $main-width / 2;
    margin-top:  $main-width / 3;
	width: 80px;
	height: 80px;
	font-size: 1.5em;

	div {
		position: absolute;
		border: 4px solid #fff;
		opacity: 1;
		border-radius: 50%;
		animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
		&:nth-child(2) {
			animation-delay: -0.5s;
		}
	}
	p {
		margin-top: 3em;
    	margin-left: -0.5em;
	}
  }

  @keyframes lds-ripple {
	0% {
	  top: 36px;
	  left: 36px;
	  width: 0;
	  height: 0;
	  opacity: 1;
	}
	100% {
	  top: 0px;
	  left: 0px;
	  width: 72px;
	  height: 72px;
	  opacity: 0;
	}
  }

.screen-top {
	margin-left: auto;
	margin-right: auto;
	width: $main-width / 2;
	display: flex;
	flex-direction: column;
	flex-grow: 0;
	justify-content: flex-start;
	border-width: 5px;
	border-color: green;
	border-style: ridge groove groove ridge;
	border-bottom: none;
	background-color: $verydarkgreen;
	text-align: center;
	font-size: 0.6em;
}

.screen {
	margin-left: auto;
    margin-right: auto;
	width: $main-width / 2;
	display: flex;
	flex-direction: column;
	flex-grow: 0;
	justify-content: flex-start;
	border-width: 5px;
	border-color: green;
	border-style: ridge groove groove ridge;
	background-color: $verydarkgreen;
	text-decoration: none;
	height: $link-height;

	#boutton_show {
		margin-top: auto;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 5%;
		input {
			font-family: 'screen';
			background-color: rgba(0, 0, 0, 0);
			color: white;
		}
		button, input {
			border: 2px solid rgba(0, 128, 0, 0.75);
			border-radius: 3px;
			padding: 5px 8px;
			white-space: nowrap;
			cursor: pointer;
			font-size: 15pt;
			transition: transform 500ms;
			&:hover {
				border-color: black;
				background-color: rgba(0, 128, 0, 0.75);
			}
			&:active {
				transform: scale(0.6);
				box-shadow: rgba(0.8, 0, 0, 0) 3px 6px;
			}
		}
	}

	#login {
		display: flex;
		flex-direction:row;
		margin-right: auto;
		padding-top: 0.5em;
		label {
			font-size: 2em;
		}
		#login_text {
			font-size: 1.5em;
			padding-left: 1em;
		}
	}
	#username {
		display: flex;
		flex-direction:row;
		margin-right: auto;
		padding-top: 0.5em;
		label {
			font-size: 2em;
		}
		#username_text {
			font-size: 1.5em;
			padding-left: 1em;
		}
	}
	#email {
		display: flex;
		flex-direction:row;
		margin-right: auto;
		padding-top: 0.5em;
		label {
			font-size: 2em;
		}
		#email_text {
			font-size: 1.5em;
			padding-left: 1em;
		}
	}

	#avatar {

		label#text-avatar {
			margin-left: auto;
			display: flex;
			font-family: 'screen';
			font-size: 1.2em;
			max-width: 18%;
			max-height: 10%;
			width: auto;
			height: auto;
		}

		img {
			margin-left: auto;
			display: flex;
			max-width: 250px;
			max-height: 155px;
			width: auto;
			height: auto;
		}

		.custom-file-input {

			&::-webkit-file-upload-button {
				visibility: hidden;
			}
			color: transparent;
			margin-left: auto;
			display: flex;
			max-width: 22%;
			max-height: 10%;
			width: auto;
			height: auto;

			&:before  {
				font-family: 'screen';
				content: 'Select image';
				display: inline-block;
				border: 1px solid rgba(0, 128, 0, 0.75);
				border-radius: 3px;
				padding: 5px 8px;
				outline: none;
				text-shadow: 1px 1px #fff;
				white-space: nowrap;
				cursor: pointer;
				font-weight: 700;
				font-size: 10pt;
			}
			&:hover:before {
				border-color: black;
				background-color: rgba(0, 128, 0, 0.75);
			}
			&:active:before {
				background: -webkit-linear-gradient(top, #004411, #159704);
			}
		}
	}

	#name, #username-edit {
		display: flex;
		flex-direction:row;

		label#text-username {
			font-size: 1.5em;
		}
		input#username {
			border: none;
			padding: 1.5% 3.2% ;
			margin-left: 5%;
			align-items: center;
			justify-content: center;
			text-decoration: none;
			box-sizing: border-box;
			width: 30%;
		}
	}

}
