$verydarkgreen: rgb(0, 70, 0);
$veryverydarkgreen: rgb(0, 50, 0);
$text-color: white;
$responsive-ratio: Min(1vh, 0.75vw);
$chat-width: 25vw;
$nav-height: calc(10 * #{$responsive-ratio});
$nav-width: 80vw;
$main-width: $nav-width;
$main-height: calc(100vh - #{$nav-height});