<script type="template" id="chatRoomTemplate">
	<p><%%= name %></p>
	<div>
		<%% _.each(users, function(user) { %>
			<p><%%= user.login %></p>
		<%% }); %>
	</div>
	<ul>
		<%% if (owner_id == window.user_id) { %>
			<%% if (room_type == 'password_protected') { %>
				<li class="remove_password">Remove password</li>
			<%% } %>
		<%% } %>
		<%% if (room_type == 'direct_message') { %>
			<li class="hide">Hide room</li>
		<%% } else { %>
			<li class="leave">Leave room</li>
		<%% } %>
	</ul>
</script>