<script type="template" id="chatRoomTemplate">
	<p><span class="new_message">&#9679;</span><%%= name %></p>
	<div class="room_members">
		<%% _.each(users, function(user) { %>
			<%% if (user.status == 'online') { %>
				<div data-id="<%%= user.id %>" class="room_member">
					<p class="member_name"><%%= user.login %></p>
					<%% if (user.id != window.user_id) { %>
						<ul class="user_menu">
							<li>See profile</li>
							<li>Challenge</li>
							<%% if (owner_id == window.user_id && room_type != 'direct_message') { %>
								<%% if (user.admin) { %>
									<li class="demote_admin">Demote admin</li>
								<%% } else { %>
									<li class="promote_admin">Promote admin</li>
								<%% } %>
							<%% } %>
							<%% if (admin && room_type != 'direct_message') { %>
								<li>Mute</li>
								<li>Ban</li>
							<%% } %>
						</ul>
					<%% } %>
				</div>
			<%% } %>
		<%% }); %>
	</div>
	<ul class="room_menu">
		<%% if (owner_id == window.user_id) { %>
			<%% if (room_type == 'password_protected') { %>
				<li class="add_password">Change password</li>
				<li class="remove_password">Remove password</li>
			<%% } else if (room_type == 'public') { %>
				<li class="add_password">Add password</li>
			<%% } %>
		<%% } %>
		<li class="leave">Leave room</li>
	</ul>
</script>

<script type="template" id="messageTemplate">
	<span><%%= login %></span>
	<span><%%= content %></span>
</script>

<script type="template" id="messagesIntroTemplate">
	<%% if (room_type == 'public') { %>
		<p>Here is the public room <%%= name %> !</p>
	<%% } else if (room_type == 'password_protected') { %>
		<p>Here is the password protected room <%%= name %> !</p>
	<%% } else if (room_type == 'direct_message') { %>
		<p>Here is your dm room with <%%= name %> !</p>
	<%% } %>
</script>