<script type="template" id="gameTemplate">
	<div id="game_container">
		<aside id="player_infos_container">
			<section class="player_infos" id="player_infos_left">
				<%= image_tag 'default.png', width: 30, height: 30, alt: "Left player avatar"%>
				<p class="name"></p>
				<p class="score">0</p>
			</section>
			<section class="player_infos" id="player_infos_right">
				<p class="score">0</p>
				<p class="name"></p>
				<%= image_tag 'default.png', width: 30, height: 30, alt: "Right player avatar"%>
			</section>
		</aside>
		<article id="game_area">
			<div id="ball_container">
				<div id="ball"></div>
			</div>
			<div class="paddle_container" id="paddle_left_container">
				<div class="paddle">
					<%= image_tag 'paddle.png', width: 0, height: 0 %>
				</div>
			</div>
			<div class="paddle_container" id="paddle_right_container">
				<div class="paddle">
					<%= image_tag 'paddle.png', width: 0, height: 0 %>
				</div>
			</div>
			<div id="timer">3</div>
			<div id="message"></div>
			<div id="message_quit">Your opponent has left.</div>
		</article>
	</div>
</script>