<script type="template" id="gameTemplate">
	<div id="game_container">
		<aside id="player_infos_container">
			<section class="player_infos" id="player_infos_left">
				<img src="">
				<p class="name"></p>
				<p class="score">0</p>
			</section>
			<section class="player_infos" id="player_infos_right">
				<p class="score">0</p>
				<p class="name"></p>
				<img src="">
			</section>
		</aside>
		<article id="game_area">
			<div id="ball_container">
				<div id="ball"></div>
			</div>
			<div class="paddle_container" id="paddle_left_container">
				<div class="paddle"></div>
			</div>
			<div class="paddle_container" id="paddle_right_container">
				<div class="paddle"></div>
			</div>
			<div id="timer">3</div>
		</article>
	</div>
</script>