<script id="newGuildButton" type="text/template">
	<button id="newguild" class="button1 favorite styled" type="button">Create your own Guild !</button>
</script>

<script id="newGuildTemplate" type="text/template">
	<button id="newguild" class="button1 favorite styled" type="button">Create your own Guild !</button>
</script>

<script id="guildViewTemplate" type="text/template">
	<li class="guildInfo">Name: <%%= name %></li>
	<li class="guildInfo">Anagram: <%%= anagram %></li>
	<li class="guildInfo">Score: <%%= score %></li>
</script>