<script id="guildStaticContent" type="text/template">
	<a>Other guilds :</a>
	<table id="guildTable">
		<thead>
			<tr>
				<th>Rank</th>
				<th>Name (Anagram)</th>
				<th>Owner</th>
				<th>Score</th>
			</tr>
		</thead>
		<tbody id="guildTableBody">
		</tbody>
	</table>
</script>

<script id="myGuildStaticContent" type="text/template">
	<a>My guild :</a>
	<table id="guildTable">
		<thead>
			<tr>
				<th>Rank</th>
				<th>Name (Anagram)</th>
				<th>Owner</th>
				<th>Score</th>
			</tr>
		</thead>
		<tbody id="myGuildTableBody">
		</tbody>
	</table>
</script>

<script id="guildNewButton" type="text/template">
	<a class="button" href="#guilds/new"><div>Create your own Guild !</div></a>
</script>

<script id="guildRow" type="text/template">
	<td><%%= rank %></td>
	<td><%%= name %> (<%%= anagram %>)</td>
	<td><%%= owner_id %></td>
	<td><%%= score %></td>
</script>

<script id="mainGuildButtonTemplate" type="text/template">
	<div id="mainGuildButton">
		<span id=<%%= id %>><%%= name %></span>
	</div>
</script>

<script id="guildFiguresTemplate" type="text/template">
	<p><%%= name %> (<%%= anagram %>)</p>
	<ul>
		<li>
			<p>Rank</p>
			<p><%%= rank %></p>
		</li>
		<li>
			<p>Owner</p>
			<p><%%= owner_id %></p>
		</li>
		<li>
			<p>Active Members</p>
			<p><%%= active_members %></p>
		</li>
		<li>
			<p>Formed</p>
			<p><%%= created_at %></p>
		</li>
	</ul>
</script>

<script id="guildMembersTemplate" type="text/template">
	<table id="guildMembersTable">
		<thead>
			<tr>
				<th>Members</th>
				<th>Rank</th>
				<th>MMR</th>
				<th>Contribution</th>
			</tr>
		</thead>
		<tbody id="guildMembersBody">
		</tbody>
	</table>
</script>

<script id="guildMemberRow" type="text/template">
	<tr>
		<td><%%= username %></td>
		<td><%%= rank %></td>
		<td><%%= mmr %></td>
		<td><%%= contribution %></td>
	</tr>
</script>

<!-- <script id="guildMembers" type="text/template">
	<div class="onGoingWar"></div>
	<div class="pendingInvites"></div>
</script> -->

<script id="guildWarHistory" type="text/template">
	<table id="guildWarHistoryTable">
		<thead>
			<tr>
				<th>War History</th>
			</tr>
		</thead>
		<tbody id="guildWarHistoryBody">
		</tbody>
	</table>
</script>

<script id="guildWarHistoryRow" type="text/template">
	<tr>
		<td><%%= date %></td>
		<td><%%= first_team %></td>
		<td>VS</td>
		<td><%%= second_team %></td>
		<td><%%= result %></td>
	</tr>
</script>

<script id="guildNewStatic" type="text/template">
	<p class="bandeau">Create a new guild</p>
	<form id="newGuildForm" name="newguilform">
		<div class="field">
			<label for="name">Name</label>
			<input type="text" id="name" name="name" required>
		</div>
		<div class="field">
			<label for="anagram">Anagram</label>
			<input type="text" id="anagram" name="anagram" required>
		</div>
		<div id="formSubmitNewGuild" class="actions">
			<a class="button">Submit</a>
		</div>
	</form>
</script>

<!-- Template for guild Invites -->
<script id="guildInvitesTemplate" type="text/template">
	<p>Pending Invites</p>
	<table id="guildInvitesTable">
		<thead>
			<tr>
				<th>username</th>
				<th>MMR</th>
				<th>Invite Date</th>
				<th>Accept</th>
				<th>Refuse</th>
			</tr>
		</thead>
		<tbody id="guildInvitesBody">
		</tbody>
	</table>
</script>

<script id="guildInviteRow" type="text/template">
	<tr>
		<td><%%= username %></td>
		<td><%%= mmr %></td>
		<td><%%= created_at %></td>
		<td id="<%%= accept %>">Accept</td>
		<td id="<%%= refuse %>">Refuse</td>
	</tr>
</script>