<script id="guildStaticContent" type="text/template">
	<button id="newguild" class="button1 favorite styled" type="button">Create your own Guild !</button>

	<table id="guildTable">
		<thead>
			<tr>
				<th>Rank</th>
				<th>Name (Anagram)</th>
				<th>Owner</th>
				<th>Score</th>
			</tr>
		</thead>
		<tbody id="guildTableBody">
		</tbody>
	</table>
</script>

<script id="joinGuildButton" type="text/template">
	<button id="" class="button1 favorite styled" type="button">Join</button>
</script>

<script id="guildRow" type="text/template">
	<td><%%= rank %></td>
	<td><%%= name %> (<%%= anagram %>)</td>
	<td><%%= owner %></td>
	<td><%%= score %></td>
</script>

<script id="guildDisplay" type="text/template">
	<p><%%= name %> (<%%= anagram %>)</p>
	<ul>
		<li>
			<p>Rank</p>
			<p><%%= rank %></p>
		</li>
		<li>
			<p>Owner</p>
			<p><%%= owner %></p>
		</li>
		<li>
			<p>Active Members</p>
			<p><%%= active_members %></p>
		</li>
		<li>
			<p>Formed</p>
			<p><%%= created_at %></p>
		</li>
	</ul>

	<table id="guildMembers">
		<thead>
			<tr>
				<th>Members</th>
				<th>Rank</th>
				<th>MMR</th>
				<th>Contribution</th>
			</tr>
		</thead>
		<tbody id="guildMembersBody">
		</tbody>
	</table>

	<div class="joinGuild"></div>
	<div class="onGoingWar"></div>
	<div class="pendingInvites"></div>
</script>

<script id="guildNewStatic" type="text/template">
	<p>New guild form :</p>
	<form id="newguildform" name="todo">
		<!-- error message -->
		<div class="field">
			<label for="name">Guild name:</label>
			<input type="text" id="name" name="name"><br>
		</div>
		<div class="field">
			<label for="anagram">Guild anagram:</label>
			<input type="text" id="anagram" name="anagram"><br>
		</div>
		<div id="formSubmitNewGuild" class="actions">
			<input type="submit" value="Create guild" />
		</div>
	</form>
</script>

<!---
<script id="errorNewForm" type="text/template">
	<div id="error_explanation">
		<h2><%%= number %> error prohibited this guild from being saved:</h2>
		<ul>
			<li><%%= error %></li>
		</ul>
	</div>
</script>
-->
