<script id="login-blocTemplate" type="text/template">

	<div class="wrapper">
		<div class="header-wrap">
			<h1>Welcome to Transcendence</h1>
		</div>
	</div>

	</br>

	<div style="display: inline-block; width: 30px"></div>

	<div class='wrapper'>
		<div role='button' class='retro-btn success'>
			<a href="homepage" class='btn'>
			<span class='btn-inner'>
				<span class='content-wrapper'>
				<span class='btn-content'>
					<span class='btn-content-inner' label="Login">
					</span>
				</span>
				</span>
			</span>
			</a>
		</div>
	</div>

</script>
