<script id="login-blocTemplate" type="text/template" id="selectModeTemplate">

	<div class="wrapper">
		<div class="header-wrap">
			<h1>Welcome to Transcendence</h1>
		</div>
	</div>

	<div style="display: inline-block; width: 1em; height: 24em;"></div>

	<a class='retro-btn' label="Login">Login</a>

</script>
