<script id="main-blocTemplate" type="text/template">
	<p>Homepage to code here</p>
</script>

<script id="contactsTemplate" type="text/template">
	<p>Contacts This is from _main.html.erb</p>
</script>

<script id="chatTemplate" type="text/template">
	<p>Chat This is from _main.html.erb</p>
</script>