<script type="template" id="matchmakingTemplate">
	<div id="players">
		<article id="left_player">
			<div>?</div>
			<p class="player_name loading">Waiting</p>
		</article>
		<div id="center">VS</div>
		<article id="right_player">
			<div>?</div>
			<p class="player_name loading">Waiting</p>
		</article>
	</div>
</script>


<!--<%= image_tag 'default.png', width: 300, height: 300, alt: "Left player avatar" %>-->