<script type="template" id="rulesTemplate">
	<h1>Welcome to Transcendence !</h1>

	<h2>Rules of the game</h2>
	<p>Pong is a duel game. You and your opponent each have a paddle and try to defend your wall by blocking the moving ball with your paddle.</p>
	<p>When the ball is in your opponent's wall, you win a point.
	When you have 3 points, you win.</p>
	<p>The ball changes its direction each time it touches a vertical or horizontal wall. It keeps the same move angle, except on a paddle. The further the paddle is from the center of the paddle, the wider is angle is.</p>

	<h2>Matchmaking</h2>
	<p>When you click on the PLAY button, you will, as soon as possible, play against the player who also searched for a game, hasn't found it, and started its search the longest time ago.</p>

	<h2>Scores</h2>
	<p>Your personal score is your number of victories.</p>
	<p>Your guild's score is the number of matches won by players who were in the guild at the time of the match.</p>
	<p>Your contribution to your guild is your number of victories while you were member of the guild.</p>
</script>