<!-- Template for rows in the user table -->
<script id="userRow" type="text/template">
	<div class="<%% if (my_user == true) { %>myUserRow<%% } else { %>userRow<%% } %> cursorButton" data-href="<%%= route %>">
		<div>
			<p class="uppercase">Rank</p>
			<div class="rankTrophy" id="rank<%%= rank %>">
				<div><%%= rank %></div>
			</div>
		</div>
		<div class="uppercase"><%%= username %></div>
		<div>
			<p class="uppercase">Guild</p>
			<p><%%= guild_name %></p>
		</div>
		<div>
			<p class="uppercase">Score<p>
			<p><%%= score %></p>
		</div>
	</div>
</script>


<!-- Template for listing guild members -->
<script id="userMatchesTemplate" type="text/template">
	<p class="bandeau">Matches history</p>
	<div id="userMatchesBody">
	</div>
</script>

<script id="userMatchRowTemplate" type="text/template">
	<div class="userMatchRow">
		<div>
			<p><%%= date %></p>
			<p><%%= time %></p>
		</div>
		<div>
			<p><%%= username_left %></p>
		</div>
		<div>
			<img src="assets/versus.svg" width=50px alt="versus">
		</div>
		<div>
			<p><%%= username_right %></p>
		</div>
		<div>
			<p class="uppercase <%%= result %>"><%%= result %></p>
		</div>
	</div>
</script>
