<script id="user-display" type="text/template">
	<ul>
		<li>
			<p>Profile Picture</p>
			<img id="avatar_profile" alt="<%%= login %> Profile Picture"
				style="max-width:250px; max-height:155px; width: auto; height: auto;" />
		</li>
		<li>
			<p>Login:</p>
			<p><%%= login %></p>
		</li>
		<li>
			<p>Username:</p>
			<p><%%= username %></p>
		</li>
		<li>
			<p>Email:</p>
			<p><%%= email %></p>
		</li>
	</ul>

	<button type="button" class="edit-btn">Edit User</button>


</script>

<script id="user-modify" type="text/template">

	<div class="header-user">
		<h1>Modification utilisateur</h1>
	</div>

	</br>
	<form id="updateUserForm" name="updateuserform">
		<div class="field">
			<label for="avatard">Profile Picture:</label> </br>
			<img id="avatar_profile" alt="<%%= login %> Profile Picture"
				style="max-width:250px; max-height:155px; width: auto; height: auto;" /></br>
			<span class="file-input btn btn-block btn-primary btn-file">
				<input class="custom-file-input" type="file" name="avatard" accept="image/*" >
			</span>
		</div>
		<div class="field" style="padding: 1em;">
			<label for="username">Username:</label></br>
			<input type="text" id="username" name="username" value="<%%= username %>" required >
		</div>
		<div id="formSubmitUpdateUser" class="actions" style="padding: 1em;">
			<input type="submit" value="Modify User" />
		</div>
	</form>
	<button type="button" class="back-btn">back</button>

</script>

<script id="user-create" type="text/template">

	<div class="header-user">
		<h1>Création utilisateur</h1>
	</div>

	</br>
	<div class="screen">
		<form id="newUserForm" name="newuserform">
			<div id="avatar" class="field">
				<label id="text-avatar" for="image">Avatar:</label></br>
				<img src="<%%= pictures %>" alt="<%%= login%> Profile Picture" /></br>
				<span class="file-input btn btn-block btn-primary btn-file">
					<input class="custom-file-input" type="file" name="avatard" accept="image/*" >
				</span>
			</div>
			<div id="name" class="field" style="padding: 1em;">
				<label id="text-username" for="username">Username:</label>
				<input type="text" id="username" name="username" placeholder="Username" required>
			</div>
			<div id="formSubmitCreateUser" class="actions" style="padding: 1em;">
				<input type="submit" value="Create User" />
			</div>
		</form>
	</div>

</script>
