<script id="user-modify" type="text/template">

	<div id="errorPopUp"></div>
	<div class="screen-top header-user">
		<h1>Profile edition</h1>
	</div>

	<div class="screen">
		<form id="updateUserForm" name="updateuserform">
			<div id="avatar" class="field">
				<%= image_tag 'default.png', id: 'avatar_profile', alt: "Profile Picture", size: 100 %>
				<span class="file-input btn btn-block btn-primary btn-file">
					<label for="avatar_selection_input">Select image</label>
					<input id="avatar_selection_input" class="custom-file-input" type="file" accept="image/*" >
				</span>
			</div>
			<div id="username-edit" class="field">
				<label id="text-username" for="username">Username:</label>
				<input type="text" id="username" name="username" placeholder="Username" value="<%%= username %>" required >
			</div>
			<div id="formSubmitUpdateUser" class="actions">
				<div class="user_button">
					<input type="submit" value="Update" />
				</div>
			</div>
		</form>
		<div id="otp">
			<div class="boutton_show user_button">
				<button type="button" class="tfa-btn"><%%= otp_required_for_login ? 'Disable' : 'Enable'%> TFA</button>
			</div>
		</div>
		<div class="button_show user_button" >
			<button type="button" class="back-btn">Back</button>
		</div>
	</div>

</script>

<script id="user-create" type="text/template">

	<div id="errorPopUp"></div>

	<div class="screen-top header-user">
		<h1>User creation</h1>
	</div>

	<div class="screen">
		<form id="newUserForm" name="newuserform">
			<div id="avatar" class="field">
				<img id="avatar_profile" src="<%%= pictures %>" alt="<%%= login%> Profile Picture" />
				<span class="file-input btn btn-block btn-primary btn-file">
					<label for="avatar_selection_input">Select image</label>
					<input id="avatar_selection_input" class="custom-file-input" type="file" name="Select image" accept="image/*" >
				</span>
			</div>
			<div id="name" class="field" style="padding: 1em;">
				<label id="text-username" for="username">Username:</label>
				<input type="text" id="username" name="username" placeholder="Username" required>
			</div>
			<div id="formSubmitCreateUser" class="actions" style="padding: 1em;">
				<div class="boutton_show user_button">
					<input type="submit" value="Create User" />
				</div>
			</div>
		</form>
	</div>

</script>

<script id="user-tfa" type="text/template">
	<div id="errorPopUp"></div>
	<div class="screen">

		<div id="otp_code">
			<label>Code OTP:</label>
			<div><%%= otp_secret %></div>
		</div>
		<img id="my-svg" alt="<%%= login %> qr_code Picture" /></br>
		<form id="newOtpForm" name="two_fa">
			<div id="name" class="field" style="padding: 1em;">
				<label id="text-username" for="code">Code:</label>
				<input type="text" id="code" name="code" placeholder="Code" required>
			</div>
			<div id="formSubmitEnableOtp" class="actions" style="padding: 1em;">
				<div class="button_show user_button">
					<input type="submit" value="Confirm and Enable OTP" />
				</div>
			</div>
		</form>
		<div class="button_show user_button" >
			<button type="button" class="back-btn">Back</button>
		</div>
	</div>

</script>

<script id="user-tfa-disable" type="text/template">
	<div class="screen">
		<div class="button_show user_button">
			<button type="button" class="disable-btn">Confirm and disable OTP</button>
			<button type="button" class="back-btn">Back</button>
		</div>
	</div>

</script>


<script id="user-show-display" type="text/template">
	<div class="screen">
		<div id="avatar">
			<%= image_tag 'default.png', id: 'avatar_profile', alt: "Profile Picture", size: 100 %>
		</div>

		<br />

		<div class="user_info">
			<label>Login:</label>
			<div><%%= login %></div>
		</div>
		<div class="user_info">
			<label>Username:</label>
			<div><%%= username %></div>
		</div>
		<%% if (id == window.user_id) { %>
			<div class="user_info">
				<label>Email:</label>
				<div><%%= email %></div>
			</div>
		<%% } %>
		<div class="user_info">
			<label>Guild:</label>
			<div>
				<%% if (guild) { %>
					<a href="#guilds/<%%= guild.id %>"><%%= guild.name + ' [' + guild.anagram + ']' %></a>
				<%% } else { %>
					None
				<%% } %>
			</div>
		</div>

		<%% _.each(achievments, function(achievment) { %>
			<div class="user_info achievment">
				<label><%= image_tag 'achievment.png', width: 100, height: 100, alt: 'Achievment image' %></label>
				<div><%%= achievment.description %></div>
			</div>
		<%% }); %>

		<br />

		<div class="button_show user_button">
			<button type="button" class="mhistory-btn">Show match history</button>
			<%% if (id == window.user_id) { %>
				<button type="button" class="edit-btn">Edit Profile</button>
			<%% } else { %>
				<button type="button" class="friend-btn"><%%= isMyFriend ? 'Remove' : 'Add' %> friend</button>
				<button type="button" class="challenge-btn">Challenge</button>
			<%% } %>
		</div>
	</div>
</script>
