Bonjouuuuuur ! De index.html.erb de tests
<ul id="UsersView">
</ul>
<button id="view1button">View 1</button>
<button id="view2button">View 2</button>
<button id="view3button">View 3</button>
<div id="GeneralView">
</div>